<br><br><br><br>
<h3 class="b3">קצת עלינו...</h3>
<div class="b2">
<h1 class="b">האתר שפותח ברעיון חדשני לכלל האוכלוסיה !</h1>
<h1 class="b">מאפשר ותורם להתקבץ, להתאגד ללא כל מאמץ </h1>
<h1 class="b">
האתר נותן אפשרות לכל אחד שיש לו רעיון לקבוצה מכל סוג שהוא:.</h1>
<h1 class="b"> חברתי,רכישה ועוד לפתוח קבוצה שמפורסמת בהיקף נרחב</h1>
    <h1 class="b">אנשים החובבים התאגדות יכולים להצטרף ולהנות ממחיר מוזל או קבוצת תמיכה .</h1>
    <h1 class="b">פותח הקבוצה הוא זה שינהל אותו,המנהל יוכל להחליט האם לאפשר הצטרפות לכולם</h1>
    <h1 class="b"> מנהל הקבוצה יוכל לצפות בהודעות שנשלחו אליו בלבד וכן לאשר או להסיר משתתפים מהקבוצה </h1>
    <h1 class="b"> במערכת זו לא יוצגו כתובות מייל של משתתפים מלבד מנהל הקבוצה!    </h1>

<h1 class="b1">שלושת הקבוצות הפופולריות ביותר:</h1>
<!-- <img  src="http://localhost:52491/img/pic1.jpg" style="width:60px" height="60px" >  -->
</div>
<p-chart   class="b2" type="pie" [data]="data" width="30vw" height="50vh"  [(ngModel)]="img"></p-chart>
